.index_number, .presentation_loc, .menu .menu_btn, header, .new::before, .validate i, .validate, body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu, footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-container {
  font-family: "Roboto", sans-serif;
  width: 100%;
  max-width: 768px;
  box-sizing: border-box;
}
@media screen and (min-width: 769px) {
  .main-container {
    max-width: 1440px;
  }
}
.main-container img {
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  margin: 0;
}

.explored, .button {
  background: linear-gradient(#ff79da, #9356dc);
  width: 218px;
  height: 50px;
  border-radius: 1.5625rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
  color: white;
  font-size: 1rem;
  margin-bottom: 3.125rem;
}

.card {
  width: 100%;
  border-radius: 0.9375rem;
  background-color: white;
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 769px) {
  .card {
    width: 45%;
  }
}
.card a {
  text-decoration: none;
  color: black;
}
.card img {
  width: 100%;
  height: 200px;
  border-top-right-radius: 0.9375rem;
  border-top-left-radius: 0.9375rem;
}

.card_content {
  display: flex;
  justify-content: space-between;
}
.card_content h3, .card_content p {
  margin: 0.3125rem;
  padding-left: 0.8125rem;
}

.menu_card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-bottom: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content {
  display: flex;
}
.content .content_txt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 10px;
}
.content h4, .content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 2px;
}
.content .price {
  display: flex;
  align-items: flex-end;
  padding: 10px;
  padding-left: 0;
  margin-left: auto;
  font-weight: 900;
}

.validate i {
  background-color: white;
  color: #99E2D0;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
}

.link {
  position: relative;
}

.new::before {
  position: absolute;
  content: "Nouveau";
  right: 0.625rem;
  margin-top: 0.625rem;
  width: 75px;
  height: 20px;
  border-radius: 0.125rem;
  background-color: #99E2D0;
  color: green;
  font-weight: 900;
  padding: 0.3125rem;
}

.explored:hover, button:hover {
  filter: brightness(1.1);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
}

.card_heart::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font awesome 6 free";
  -webkit-font-smoothing: antialiased;
  content: "\f004";
  position: absolute;
  margin-top: 0.3125rem;
  right: 1.75rem;
  font-weight: 400;
}

.card_heart::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font awesome 6 free";
  -webkit-font-smoothing: antialiased;
  content: "\f004";
  position: absolute;
  margin-top: 0.3125rem;
  right: 1.75rem;
  background: linear-gradient(#ff79da, #9356dc);
  font-weight: 900;
  cursor: pointer;
  opacity: 0%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card_heart:hover::after {
  opacity: 1;
  transform: scale(1.1);
}

.menu h2 {
  position: relative;
}

.menu h2::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font awesome 6 free";
  -webkit-font-smoothing: antialiased;
  content: "\f004";
  position: absolute;
  margin-top: 0.3125rem;
  right: 1.75rem;
  font-weight: 400;
}
@media screen and (min-width: 769px) {
  .menu h2::before {
    margin-right: 18.75rem;
  }
}

.menu h2::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font awesome 6 free";
  -webkit-font-smoothing: antialiased;
  content: "\f004";
  position: absolute;
  margin-top: 0.3125rem;
  right: 1.75rem;
  background: linear-gradient(#ff79da, #9356dc);
  font-weight: 900;
  cursor: pointer;
  opacity: 0%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 769px) {
  .menu h2::after {
    margin-right: 18.75rem;
  }
}

.menu h2:hover::after {
  opacity: 1;
  transform: scale(1.1);
}

.validate {
  border-top-right-radius: 0.9375rem;
  border-bottom-right-radius: 0.9375rem;
  margin-right: -3rem;
  width: 3rem;
  background-color: #99E2D0;
}

.content:hover .validate {
  margin-right: 0;
  transition: all 1s ease-in-out;
}

header {
  margin-bottom: 0.3125rem;
  margin-top: 1.25rem;
}
@media screen and (min-width: 769px) {
  header {
    margin-bottom: 1.5625rem;
  }
}
header img {
  width: 40%;
}
@media screen and (min-width: 769px) {
  header img {
    width: 20%;
  }
}

footer {
  background-color: #353535;
  color: white;
}
@media screen and (min-width: 769px) {
  footer {
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-start;
    padding-top: 50px;
  }
}
footer .enseigne {
  font-family: "shrikhand";
  font-size: 1.125rem;
  margin-top: 1.375rem;
  margin-left: 1.5625rem;
}
@media screen and (min-width: 769px) {
  footer .enseigne {
    margin-bottom: 1.875rem;
    margin-right: 1.875rem;
    padding-left: 1.875rem;
  }
}
@media screen and (min-width: 769px) {
  footer ul {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
  }
}
footer li {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  list-style: none;
  margin-left: -0.625rem;
}
footer li p {
  margin: 0.3125rem;
}

header .arrow {
  color: black;
  text-decoration: none;
  position: absolute;
  left: 5%;
}
@media screen and (min-width: 769px) {
  header .arrow {
    left: 10%;
  }
}

.background img {
  width: 100%;
  height: 275px;
}

.menu {
  margin-top: -4.375rem;
  width: 100%;
  background-color: #F6F6F6;
}
@media screen and (min-width: 769px) {
  .menu {
    margin-top: -3.125rem;
    margin-right: 8.125rem;
    margin-left: 6.25rem;
    width: 80%;
  }
}
.menu h2 {
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  padding-top: 0.9375rem;
  padding-left: 0.9375rem;
  font-family: "shrikhand";
  margin-left: 0;
  background-color: #F6F6F6;
}
@media screen and (min-width: 769px) {
  .menu h2 {
    display: flex;
    justify-content: center;
  }
}
.menu .choise {
  margin-left: 0.8125rem;
  margin-right: 0.8125rem;
  margin-bottom: 1.25rem;
}
.menu h3 {
  font-size: 1rem;
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
  width: 10%;
}
@media screen and (min-width: 769px) {
  .menu h3 {
    width: 5%;
  }
}
.menu .menu_btn {
  text-decoration: none;
  margin-top: 1.875rem;
}

.presentation {
  background-color: #d2d2d2;
  text-align: center;
}
.presentation h2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-left: 2.625rem;
  margin-right: 3.625rem;
}
.presentation p {
  font-size: 1.125rem;
  font-weight: 300;
}
.presentation_loc {
  gap: 1.875rem;
  background-color: #EAEAEA;
}

.fontionnement {
  margin-top: 3.125rem;
}
.fontionnement h2 {
  margin-left: 1.25rem;
}
@media screen and (min-width: 769px) {
  .fontionnement {
    padding-left: 6.25rem;
    padding-right: 6.25rem;
  }
}
@media screen and (min-width: 769px) {
  .fontionnement .fonctionnement_index {
    display: flex;
  }
}

.index {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  width: 85%;
  height: 72.38px;
  background-color: #F6F6F6;
  border-radius: 1.25rem;
  margin-bottom: 0.625rem;
  margin-left: 1.875rem;
}
.index_number {
  color: white;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  border-radius: 1.875rem;
  width: 24px;
  height: 24px;
  position: absolute;
  margin-left: -0.9375rem;
}
.index_logo {
  color: #9356DC;
  margin-left: 1.875rem;
}

.restaurant {
  background-color: #d2d2d2;
  padding: 1.25rem;
  margin-top: 3.125rem;
}
@media screen and (min-width: 769px) {
  .restaurant {
    padding-left: 6.25rem;
    padding-right: 6.25rem;
  }
}
.restaurant h2 {
  margin-left: 0.3125rem;
}
@media screen and (min-width: 769px) {
  .restaurant h2 {
    margin-left: 1.875rem;
  }
}

@media screen and (min-width: 769px) {
  .all_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}/*# sourceMappingURL=main.css.map */