.index_number, .presentation_loc, .menu .menu_btn, header {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-container {
  font-family: "Roboto", sans-serif;
  width: 100%;
  max-width: 768px;
  box-sizing: border-box;
}
.main-container img {
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  margin: 0;
}

.explored, .button {
  background: linear-gradient(#9356DC, #FF79DA);
  width: 218px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
  color: white;
  font-size: 1rem;
  margin-bottom: 3.125rem;
}

.card {
  width: 100%;
  border-radius: 0.9375rem;
  background-color: white;
  margin-bottom: 1.25rem;
}
.card a {
  text-decoration: none;
  color: black;
}
.card img {
  width: 100%;
  height: 200px;
  border-top-right-radius: 0.9375rem;
  border-top-left-radius: 0.9375rem;
}

.card_content {
  display: flex;
  justify-content: space-between;
}
.card_content h3, .card_content p {
  margin: 0.3125rem;
  padding-left: 0.8125rem;
}

.menu_card {
  width: 100%;
  height: 69px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  padding: 15px 20px 0 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.content h4, .content p {
  margin: 0;
}
.content_title {
  display: flex;
  justify-content: space-between;
}
.content_subtitle {
  font-size: 15px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_heart::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font awesome 6 free";
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  content: "\f004";
  position: absolute;
  right: 1.75rem;
}

.card_heart::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font awesome 6 free";
  font-weight: 900;
  content: "\f004";
  position: absolute;
  right: 1.75rem;
  cursor: pointer;
  opacity: 0%;
  background: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card_heart:hover::after {
  opacity: 1;
}

header {
  margin-bottom: 0.3125rem;
  margin-top: 1.25rem;
}
header img {
  width: 40%;
}

footer {
  background-color: #353535;
  color: white;
}
footer .enseigne {
  font-family: "shrikhand";
  font-size: 1.125rem;
  margin-top: 1.375rem;
  margin-left: 1.5625rem;
}
footer li {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  list-style: none;
  margin-left: -0.625rem;
}

header .arrow {
  color: black;
  text-decoration: none;
  position: absolute;
  left: 5%;
}

.background img {
  width: 100%;
  height: 275px;
}

.menu {
  position: relative;
  margin-top: -25%;
  width: 100%;
  background-color: #F6F6F6;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.menu h2 {
  font-family: "shrikhand";
  margin-left: 0.8125rem;
}
.menu .choise {
  margin-left: 0.8125rem;
  margin-right: 0.9375rem;
  margin-bottom: 1.25rem;
}
.menu .fa-heart {
  position: absolute;
  top: 1.8125rem;
  right: 0.9375rem;
}
.menu h3 {
  font-size: 1rem;
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
  width: 10%;
}
.menu .button {
  margin-top: 1.875rem;
}
.menu .menu_btn {
  text-decoration: none;
}

.presentation {
  background-color: #d2d2d2;
  text-align: center;
}
.presentation h2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-left: 2.625rem;
  margin-right: 3.625rem;
}
.presentation p {
  font-size: 1.125rem;
  font-weight: 300;
}
.presentation_loc {
  gap: 1.875rem;
  background-color: #EAEAEA;
}

.fontionnement {
  margin-top: 3.125rem;
}
.fontionnement h2 {
  margin-left: 1.25rem;
}

.index {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  width: 85%;
  height: 72.38px;
  background-color: #F6F6F6;
  border-radius: 1.25rem;
  margin-bottom: 0.625rem;
  margin-left: 1.875rem;
}
.index_number {
  color: white;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  border-radius: 1.875rem;
  width: 24px;
  height: 24px;
  position: absolute;
  margin-left: -0.9375rem;
}
.index_logo {
  color: #9356DC;
  margin-left: 1.875rem;
}

.restaurant {
  background-color: #d2d2d2;
  padding: 1.25rem;
  margin-top: 3.125rem;
}
.restaurant h2 {
  margin-left: 0.3125rem;
}/*# sourceMappingURL=main.css.map */