footer {
    @extend %flex_column;
    background-color: map-get($colors, footer_color);
    color: white;

        .enseigne{
            font-family: $font_footer;
            font-size: torem(18);
            margin-top: torem(22);
            margin-left: torem(25);
        }
            li{
                display: flex;
                align-items: center;
                gap: torem(10);
                list-style: none;
                margin-left: torem(-10);

            }
        
}