//loader

.loader{
    position: fixed;
    z-index: 1;
    inset: 0;
    height: 100vh;
    background-color:#fff;
    opacity: 0.9;
    animation: disappear 3s forwards 3s;
    @extend %flex_center;
        i {
        animation: loader_cube 1s linear infinite;
        color: darkblue;
        }
    
}



//badge new

.link {
    position: relative;
}

.new::before {
    position: absolute;
    content: "Nouveau";
    right: torem(10);
    margin-top: torem(10);
    width: 75px;
    height: 20px;
    border-radius: torem(2);
    background-color: map-get($colors, animation_color);
    color: green;
    font-weight: 900;
    padding: torem(5);
    @extend %flex_center;
}

//button

.explored:hover, button:hover {
    @include anim_btn;
}

//heart_main

.card_heart::before {
    @include heart;
    font-weight: 400;
}

.card_heart::after {
    @include heart;
    @include linearGradient;
    font-weight: 900;
    cursor: pointer;
    opacity: 0%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card_heart:hover::after {
    opacity: 1;
    transform: scale(1.1);
}

//heart_menu

.menu h2 {
    position: relative;
}
.menu h2::before {
    @include heart;
    font-weight: 400;
    @include desktop_only{
        margin-right: torem(300);
    }
}

.menu h2::after {
    @include heart;
    @include linearGradient;
    font-weight: 900;
    cursor: pointer;
    opacity: 0%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include desktop_only{
        margin-right: torem(300);
    }
}

.menu h2:hover::after {
    opacity: 1;
    transform: scale(1.1);
}

//validate_menu

.validate {
    border-top-right-radius: torem(15);
    border-bottom-right-radius: torem(15);
    margin-right: -3rem;
    width: 3rem;
    background-color: map-get($colors, animation_color);
    
}

.content:hover .validate {
    margin-right: 0;
    transition:all 1s ease-in-out;
}

//card appear

.menu_card {
    animation: appear 1s ease-in-out  ;
    @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
            animation-delay: 200ms * $i;
        }
    }
}