.explored, .button {
    background: linear-gradient(#9356DC, #FF79DA);
    width: 218px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border: none;
    color:white;
    font-size: 16px;
    margin-bottom: 50px;
    @extend %flex_center;
}