.main-container {
    font-family: $main_font;
    width: 100%;
    max-width: 768px;
    box-sizing: border-box;
    @include desktop_only {
        max-width: 1440px;
    }
        img {
            object-fit: cover;
        }
}

body {
    margin:0;
    display: flex;
    justify-content: center;
    
}

