header {
    @extend %flex_center;
    .arrow {
        color:black;
        text-decoration: none; 
        position: absolute;
        left: 5%; 
    }
}

.background {
    img {
    width: 100%;
    height: 275px;
    }
}
.menu {
    margin-top: torem(-70);
    width: 100%;
    background-color: map-get($colors, main_color);
    @extend %flex_column;
    @include desktop_only {
        margin-top: torem(-50);
        margin-right: torem(130);
        margin-left: torem(100);
        width: 80%;
    }
        h2 {
            border-top-left-radius: torem(20);
            border-top-right-radius: torem(20);
            padding-top: torem(15);
            padding-left: torem(15);
            font-family: $font_footer;
            margin-left: 0;
            background-color: map-get($colors, main_color);
        }
        .choise {
            margin-left: torem(13);
            margin-right: torem(13);
            margin-bottom: torem(20);
        }
        h3 {
            font-size: torem(16);
            font-weight: 300;
            border-bottom: 3px solid #99E2D0;
            width: 10%;
            @include desktop_only{
                width: 5%;
            }
        }
        .menu_btn{
            text-decoration: none;
            @extend %flex_center;
            margin-top: torem(30);
        }

}