//px to rem

@use "sass:math";


@function torem($px) {
    @return math.div($px, 16) + rem;
}

//loader

@keyframes appear {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes disappear {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

//loader 

@keyframes loader_cube {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}

//heart

@keyframes heart_full {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}